@using WWW = BlueBit.HR.Docs.WWW;
@using BL = BlueBit.HR.Docs.BL;
@using PagedList.Mvc;
@model PagedList.IPagedList<BL.DataLayer.Entities.DocumentWithoutDataAndLastVer>
@{
    ViewBag.Title = "Moje dokumenty";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>To są twoje dokumenty.</h3>
                <br />
                <h3>Wybierz jeden z poniższych dokument i naciśnij Pobierz aby pobrać dokument w formacie PDF.</h3>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm())
{   
    <div align="center">
    <table>
        <tr>
            <th>&nbsp;</th>
            <th>
                @Html.ActionLink("Rok", "Index", new { sortOrder = "Year", currentSortOrder = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Miesiąc", "Index", new { sortOrder = "Month", currentSortOrder = ViewBag.CurrentSort })
            </th>
        </tr>
        @foreach (var document in Model)
        {
                <tr>
                <td>
                @Html.ActionLink("Pobierz", "Get", new { ID = document.ID })
                </td>
                <td align="right">
                @Html.DisplayFor(model => document.DateYear)
                </td>
                <td align="right">
                @Html.DisplayFor(model => document.DateMonth)
                </td>
                </tr>  
        }
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" align="center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount.
            </td>
        </tr>
    </table>
    </div>
}